{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <h1>Nos produits phares</h1>
    <div class="row">
        {% for product in products %}
            <div class="col">
                <div class="card">
                    <img src="{{product.MainPicture}}" class="img-fluid" alt="Image du produit">
                    <div class="card-body">
                        <h4 class="card-title">{{product.name}} ({{product.price / 100}} &euro;)</h4>
                        <h5 class="badge bg-info">{{product.category.name}}</h5>
                        <p class="card-text">{{product.shortDescription}}</p>
                        <a href="#" class="btn btn-primary btn-sm">Détails</a>
                        <a href="#" class="btn btn-success btn-sm">Ajouter</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <hr>

    <h2>Un service irreprochable</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas officia laudantium quibusdam quam maxime aliquam.</p>

    <div class="row">
        {% include 'shared/_assurance.html.twig' with {
            'color': 'success',
            'icon': 'fa-check',
            'text': 'Lorem ipsum dolor sit amet.',
        } %}
        {% include 'shared/_assurance.html.twig' with {
            'color': 'primary',
            'icon': 'fa-truck',
            'text': 'Lorem ipsum dolor sit amet.',
        } %}
        {% include 'shared/_assurance.html.twig' with {
            'color': 'danger',
            'icon': 'fa-lock',
            'text': 'Lorem ipsum dolor sit amet.',
        } %}
    </div>
{% endblock %}